# =========================
# Node / Frontend
# =========================
node_modules/
dist/

# =========================
# Python / Backend
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
.env.*

# =========================
# Python tooling
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
